page{
    background-color: #F5F5F5
  }
  
  .serch-layout {
    width: 750px;
    height: 150px;
    background-color: #49ddb8;
    display: flex;
    position: fixed
  }
  
  .serch-parent {
    margin-top: 50px;
    width: 685px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 25px;
  }
  
  .serch-parent .serch-view {
    width: 600px;
    height: 70px;
    border-radius: 35px;
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .serch-parent .serch-view .icon {
    width: 28px;
    height: 30px;
    margin-left: 18px;
    margin-right: 11px;
  }
  
  .serch-parent .serch-view .tip-s {
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #333;
    // flex:1
    width: 80%;
  }
  
  .placeHodle{
    font-size: 28px;
    color: #ccc
  }
  
  .serch-parent .tips {
    font-size: 34px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #fff;
  }
  
  .fillView {
    width: 750px;
    height: 150px;
  }
  
  .serchOrderList{
    width: 750px;
    height: auto;
  }
  
  .item {
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    width: 704px;
    padding: 24px;
    height: auto;
    margin-top: 20px;
    background-color: #fff;
  }
  
  .item .shop_title_info {
    font-size: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .item .shop_title_info .shop_icon {
    width: 26px;
    height: 26px;
  }
  
  .item .shop_title_info .shop_title {
    margin-left: 12px;
    font-weight: bold;
    display: block;
    line-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 400px;
  }
  
  .item .shop_title_info .order_status_dark {
    color: #999;
  }
  
  .item .shop_title_info .order_status_green {
    color: #1fdb9b;
  }
  
  .item .medicine_list {
    display: flex;
    flex-direction: row;
  }
  
  .item .medicine_list .medicine_image {
    width: 134px;
    height: 134px;
    margin-left: 12px;
    margin-top: 20px;
    min-width: 134px;
    min-height: 134px;
  }
  
  .item .medicine_list .medicine_info_top {
    margin-left: 20px;
    margin-top: 34px;
    display: flex;
    flex-direction: row;
    font-size: 26px;
    width: 538px;
  }
  
  .medicine_type_icon {
    width: 52px;
    height: 22px;
    margin-right: 10px;
  }
  
  .item .medicine_list .medicine_info_top .medicien_name {
    font-weight: bold;
    color: #333;
    margin-left: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 354px;
  }
  
  .item .medicine_list .medicine_info_bottom .medicine_standard {
    color: #999;
  }
  
  .item .medicine_list .medicine_info_right {
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    font-size: 26px;
  }
  
  .item .medicine_list .medicine_info_top .price {
    font-size: 28px;
    color: #333;
    font-weight: bold;
  }
  
  .item .medicine_list .medicine_info_bottom {
    margin-left: 20px;
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    font-size: 26px;
    width: 538px;
    align-items: center;
  }
  
  .item .medicine_list .medicine_info_bottom .qty {
    font-size: 26px;
    color: #999;
  }
  
  .loading_text {
    text-align: center;
    font-size: 26px;
    color: #999;
  }
  
  .loading {
    width: 750px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .loading_image {
    width: 60px;
    height: 60px;
  }
  
  .item .medicine_total {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 40px;
  }
  
  .item .medicine_total .left_text {
    font-size: 28px;
    color: #333;
  }
  
   .item .medicine_total .right_text {
    font-size: 34px;
    color: #f30;
  }
  .smallPrice{
    font-size: 28px;
    color: #f30;
  }
  
  .package_name {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 22px;
    margin-left: 40px;
  }
  
  
  .package_name .packge_type_tips {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 84px;
    height: 29px;
    background-image: linear-gradient(-90deg, #ff8881 0%, #ea5065 100%),
                        linear-gradient(#e5e5e5, #e5e5e5);
    background-blend-mode: normal, normal;
    box-shadow: 0px 1px 3px 0px rgba(226, 108, 108, 0.3);
    border-radius: 14px;
    font-size: 21px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #fff;
  }
  
  .course_costume{
      display: flex;
    align-items: center;
    justify-content: center;
    width: 84px;
    height: 29px;
    background-image: linear-gradient(-90deg, rgba(72,139,255,1),rgba(122,219,255,1) ),
                        linear-gradient(#e5e5e5, #e5e5e5);
    background-blend-mode: normal, normal;
    box-shadow: 0px 1px 3px 0px rgba(226, 108, 108, 0.3);
    border-radius: 14px;
    font-size: 21px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #fff;
  }
  
  .package_name .packge_name {
    color: #666;
    margin-left: 20px;
  }
  
  .listParent {
    width: auto;
    height: auto;
  }
  
  .onloading {
    background-color: #f5f5f5;
    width: 750px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-size: 26px;
    color: #999;
  }
  
  .onloading .load-wrap .loading-icon {
    animation: onloading-view linear 1.6s 0s infinite;
    -webkit-animation: onloading-view linear 1.6s 0s infinite;
    display: inline-block;
    height: 30px;
    width: 30px;
    position: relative;
    border-radius: 50%;
    border: 5px solid #0ba756;
  }
  
  .onloading .load-wrap .loading-icon .hide-block {
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 40%;
    background-color: #f5f5f5;
  }
  
  .end {
    background-color: #f5f5f5;
    width: 750px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-size: 26px;
    color: #999;
  }
  
  .scheduled_days_itemLayout{
    width: 700px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-top: 30px;
  }
  
  .scheduled_days_itemLayout .tips{
    font-size: 26px;
    color:#999;
    margin-left: 20px;
  }
  
  .scheduled_days_itemLayout .scheduledButtonLayout{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .scheduled_days_itemLayout .scheduledButtonLayout .buttons{
    height: 40px;
    border-radius: 20px;
    width: 100px;
    font-size: 24px;
    color:#ccc;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
  }
  