
.scroll-View{
    // display: flex;
    position: fixed;  
    width: 100%;
    top: 200px;
    bottom: 0px;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
  }
  .collectionView{
    background-color: #fafafa;
    padding: 7px 14px 7px 28px;
  }
  .collectionView .collectionItemView{
    display: inline-block;
    vertical-align: top;  
    flex-direction: column;
    /* overflow: hidden; */
    width: 50%;
    margin: 7px 0;
    border-radius: 20px;
    justify-content: center;
  }
  .collectionView .collectionItemView:nth-of-type(odd) {
    margin-left: -14px;
    margin-right: 14px;
  }
  .no-result{
    margin: 0px 0px;
    height: 532px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 8px 8px 0px rgba(204, 204, 204, 0.4);
    border-radius: 14px;
    justify-content: center;
    align-items: center
  
  }
  .no-result image {
    width: 276px;
    height: 170px;
  }
  .no-result text {
    margin-top: 40px;
    font-size: 26px;
    color: #999999
  }
  .about-shop-view {
    height: 80px;
    margin: 10px 20px 0px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }