
page{
  background-color: #FAF9F9;
}
.container{
  width:100%;
  overflow:hidden;
}
.container-password{
  margin-top: 20px;
}
.oldView{
  width: 100vw;
  display: flex;
  height:100px;
  padding-left:60px;
  align-items:center;
}
.oldPassword{
  display: inline-flex;
  font-size: 25px;
  width: 75%;
  background-color:#FAF9F9 ;
}
.newPassword{
  display: inline-flex;
  font-size: 25px;
  width: 75%;
  background-color:#FAF9F9 ;
}
.placeholder{
  font-size: 25px;
  color: #999999
}
.imageView{
  width: 50px;
  display: flex;
  align-items: center;
  float: right;
  height:100px;
}
.off_pwd{
  display: inline-flex;
  width:30px;
  height:12px;
}
.on_pwd{
  height:25px; 
}
.address-save{
  font-size: 30px;
  margin-top :300px;
  border-radius: 50px;
  height:80px;
  width:94%;
  background-color:#49ddb8;
  color:white;
}
.divLine{
 background: #f3f1f1;
 margin-left: 60px;
 margin-right: 60px;
 height: 3px;
}
.commit{
  display: flex;
  justify-content: center;
}
