.buton_green{
    font-size: 22px;
    color: #1fdb9b;
    border: #1fdb9b solid 1px;
    width: 160px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 22px;
  }