.no_coupon {
    margin: 50rpx auto;
}

.no_coupon_txt {
    text-align: center;
    color: #666;
    font-size: 22rpx;
}

.go_coupon_center {
    text-align: center;
    border: 1px solid #000;
    padding: 10rpx;
    width: auto;
    font-size: 25rpx;
    margin: 20rpx auto;
}