.store-medicine-header {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: #ffffff;
  z-index: 88;
}

.store-medicine-search {
  width: 65%;
  height: 70px;
  margin: 0 40px;
  background-color: #ffffff;
  border-radius: 35px;
  overflow: hidden;
}

.store-medicine-search .store-medicine-search-icon {
  width: 30px;
  height: 30px;
  margin: 0 20px;
}

.store-medicine-search .store-medicine-search-input {
  color: #333333;
  font-size: 30px;
  height: 70px;
  width: 100%
}

.store-medicine-button {
  width: 140px;
  height: 70px;
}

.store-medicine-fliter-item {
  width: 25vw;
  height: 100px;
}

.store-medicine-fliter-item .store-fliter-icon {
  width: 10px;
  height: 20px;
  margin: 0 8px;
}

.store-medicine-fliter-item .store-fliter-icon-big {
  width: 36px;
  height: 36px;
}

.store-medicine-activity-left {
  width: 77vw;
  padding-left: 3vw;
  padding-top: 2vw;
  line-height: 24px;
}

.store-medicine-activity-left text {
  color: #feac4c;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 2vw
}

.store-medicine-activity-right {
  width: 17vw;
  height: 10vw;
  padding-right: 3vw;
}

.store-medicine-activity-right text {
  font-size: 24px;
  color: #C1AD5C;
}

.store-space {
  width: 100vw;
  margin-bottom: 2vw;
  opacity: 0;
}

.store-medicine-space {
  width: 100vw;
  height: 200px;
}

.store-medicine-list-item {
  width: 47%;
  margin-left: 2%;
  margin-bottom: 2vw;
  display: inline-block;
}

.store-category-modal {
  position: fixed;
  top: 200px;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.store-category-modal .store-category-modal-content {
  width: 100%;
  padding: 20px 0;
  background-color: #ffffff;
}

.store-category-modal .store-category-modal-content .store-category-modal-item {
  width: 25%;
  margin: 20px 0;
  padding: 4px 0;
  border-radius: 30px;
}

.store-category-modal .store-category-modal-content .store-category-modal-item-normal {
  border: solid 2px #999999;
}

.store-category-modal .store-category-modal-content .store-category-modal-item-select {
  border: solid 2px #1fdb9b;
}
.height-50{
  height: 100rpx;
}