/* pages/YFWAskModule/progrmDel/progrmDel.wxss */
page{
  background-color: #f8f8f8;
}
.out-skip {
  width: 100%;
  position: relative;
}
.topView {
  display: flex;
  width: 100vw;
  height: 100px;
  position: fixed;
  z-index: 99;
  top: 0px;
  background-color: #49ddb8;
  flex-direction: row;
  justify-content: space-between

}
.topSearchView {
  margin: auto 26px 22px 22px;
  height: 68px;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.search_input_view {
  background-color: white;
  margin-left: 0px;
  margin-right: 22px;
  height: 68px;
  display: flex;
  flex: 1;
  border-radius: 34px;
  flex-direction: row;
  align-items: center;
}
.search_icon {
  width: 28px;
  height: 30px;
  margin-left: 18px;
  display: flex;
}
.placeholder {
  color: #cccccc;
  font-size: 28px;
  margin-left: 10px;
  display: flex;
  max-width: 70%;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap; 
}
.search-text {
  margin-right: 0px;
  width: 92px;
  height: 42px;
  display: flex;

}
.search-text text {
  margin-left: 24px;
  color: #fff;
  font-size: 28px;
}
.title-view {
  margin-bottom: 26px;
  margin-left: 46px;
  margin-right: 46px;
  position: relative;
}
.title-view text {
  font-size: 30px;
  color: #333333;
  margin-left: 0px;
  
}
.title_icon {
  height: 50px;
  width: 50px; 
}
.title_icon1 {
  height: 50px;
  width: 50px;
  top:15px;
  left: -8px;
  position: absolute
}
.top-view {
  margin-top: 100px;
  background-color: white;
  padding-top: 30px;
  
}
.ask-sex {
  flex-direction: row;
  flex: 1;
  align-items: center;
  margin-right: 46px;
  display: flex;
}
.ask-sex image {
  width: 60px;
  height: 60px;
  margin-left: 46px;
}
.ask-sex text {
  font-size: 24px;
  color: #999999;
  margin-left: 22px;

}
.ask-sex-text {
  margin-left: 42px;
}
.reply-quey {
  margin: 20px 46px 0px 46px;
  padding-bottom: 20px;
  font-size: 24px;
  color: #333333
}
.rel-view {
  margin-top: 14px;
  background-color: #ffffff;
  flex-direction: column
}
.relp-view {
  flex-direction: row;
  align-items: center;
  height: 66px;
  display: flex;
}
.relp-view view {
  margin-left: 10px;
  font-size: 26px;
  color: #333333
}
.relp-view image {
  margin-left: 36px;
  margin-top: 10px;
}
.rel-title {
  width: 100%;
  height: 66px;
  flex-direction: row;
  align-items: center;
  font-size: 26px;
  color: #333333;
  display: flex;
  padding-left: 46px;
  
}
.question-swiper-item {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.question-content-item {
  width: 46%;
  margin-left: 20px;
  padding-bottom: 20px;
}

.question-content-view {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start; 
  padding-bottom: 25px;
}
.hedPort{
  width: 140px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.line-view {
  height: 2px;
  background-color: #f5f5f5
}
.doctor-ask {
  flex-direction: column;
  margin-top: 24px;
  padding-bottom: 40px;
  background-color: white;
}
.doctor-view {
  flex-direction: row;
  align-items: center;
  margin-right: 46px;
  }
.doctor-item {
  flex-direction: row;
  align-items: center;
  display: flex;
  
}
.doctor-item image {
  width: 60px;
  height: 60px;
  margin-left: 46px;
  border-radius: 30px;
  display: flex;
}
.doctor-text {
  margin-left: 20px;
  display: flex;
  align-items: center;
  height: 42px
}
.doctor-text text {
  font-size: 24px;
  color: #999999;
}
.doctor-item-view {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 6px;
  background-color: #f5f5f5;
  margin-left: 20px;
  display: flex;
}
.doctor-item-view text {
  font-size: 22px;
  color: #dab96b;
}
.shop-name {
  margin-left: 6px;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap; 
  font-size: 22px;
  color: #999999;
  flex: 1;
  height: 42px;
  padding-top: 8px;
}
.shop-name text{
  margin-left: 6px;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap; 
  font-size: 22px;
  color: #999999;
  flex: 1;
}
.reply_content_detail{
  margin-left: 46px;
  margin-right: 58px;
  font-size: 24px;
  color: #333333;
  margin-top: 20px;
  margin-bottom: 20px;  
}
.relative-view {
  width: 88%;
  height: 160px;
  flex-direction: row;
  margin-left: 46px;
  white-space: nowrap;
  display: inline-block;
  -webkit-overflow-scrolling: touch;
}
.relative-view-context {
  width: 160px;
  height: 160px;
  display: inline-block;
} 
.relative-view-context-view {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  display: flex;
}
.relative-view-context-view image{
  width: 100px;
  height: 100px;
}
.relative-view-context-text{
  margin-top: 10px;
  font-size: 22px;
  color: #999999;
}
.append-view {
  background-color: #fafafa;
  margin: 20px 46px;

}
.append-view-context {
  margin-top: 20px;
  margin-bottom: 20px;
  flex-direction: column;
}
.append-view-text {
  font-size: 26px;
  margin-left: 20px;
  color: #999999;
}
.appendreply-view {
  margin-top: 20px;
  font-size: 26px;
  margin-left: 20px;
  color: #999999;

}
.button-view {
  flex-direction: row;
  align-items: center;
  margin-top: 16px;
  justify-content: space-between;
  display: flex;
}
.button-context {
  flex-direction: row;
  align-items: center;
  margin-left: 22px;
  display: flex;
}
.button-context-text {
  margin-left: 46px;
  font-size: 22px;
  color: #999999;
  margin-right: 46px;
}
.button-context-view {
  flex-direction: row;
  align-items: center;
  display: flex;
  padding: 24px;
}
.button-context-view text {
  font-size: 22px;
  color: #1fdb9b
}
.mag-button {
  margin-left: 0px;
}
.mag-button image{
  width: 22px;
  height: 30px;
  margin-left: 46px;
}
.mag-button text {
  font-size: 22px;
  margin-left: 46px;
  margin-right: 46px;
  color: #999999;
}
.justify {
  justify-content: flex-end
}
.title_ask-text {
  color: #999999;
}
.botmLine {
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.botmLine view {
  margin: 0px 46px;
  background-color: #f5f5f5;
  height: 2px;
}