page{
    background-color: #FAFAFA;
  }
  
  .containers{
    width:100%;
  }
  .item_view{
    width:100vw;
    height:100rpx;
    background-color:#FFFFFF;
    border-bottom: 2rpx #FAFAFA solid;
  }
  .title{
    display: inline-flex;
    margin-left:32rpx;
    font-size:30rpx;
    line-height:100rpx;
  }
  .img_next{
    width:14rpx;
    height:24rpx;
    float:right;
    margin-top:43rpx;
    margin-right: 30rpx;
  }