<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>收集表单数据</title>
    <script src="../../js/vue.js"></script>
</head>

<body>
    <div id="root">
        <form>
            <label for="name">名字</label>
            <input type="text" id="name" v-model="userInfo.name"/><br/>
            男<input type="radio" v-model="userInfo.sex" value="male"/>
            女<input type="radio" v-model="userInfo.sex" value="fimale"/><br/>
            吃饭<input type="checkbox" v-model="userInfo.hobbys" value="吃饭"/>
            睡觉<input type="checkbox" v-model="userInfo.hobbys" value="睡觉"/>
            游戏<input type="checkbox" v-model="userInfo.hobbys" value="游戏"/><br/>
            <select v-model="userInfo.areas">
                <option value="上海">上海</option>
                <option value="北京">北京</option>
            </select>
        </form>
    </div>
    <script>
        const vm = new Vue({
            el: "#root",
            data: {
                userInfo: {
                    name:'',
                    sex: '',
                    hobbys: [],
                    areas:[]
                }
            }
        })
    </script>
</body>

</html>