.modal-mask{
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 999;
  }
  /*遮罩内容*/
  .modal-contents{
    display: flex;
    flex-direction: column;
    width: 640px;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    position: fixed;
    top: 200px;
  }
  /*中间内容*/
  .main-contents{
    flex: 1;
    height: 100%;
    overflow-y: hidden; 
    max-height: 80vh; 
    display: flex;
    flex-direction: column;
    font-size: 26px;
    color: rgba(51, 51, 51, 1)
  }
  
  .main-contents .text_one{
    margin-top: 22px;
  }
  
  
  .main-contents .text_two{
    margin-top: 22px;
  }
  
  .main-contents .text_three{
    margin-top: 22px;
    color:rgba(153, 153, 153, 1)
  }
  
  
  /*底部按钮*/
  .modal-footer{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    align-items: center;
    justify-content: center
  }
  
  .input{
    position: fixed;
    top: -100px;
    left:42%;
    width: 100px;
    height: 20px;
  }
  
  .code_item{
    width: 30px;
    height: 30px;
    background-color: red
  }
  
  .code_parent{
    display: flex;
    flex-direction: row;
    width: 390px;
    margin-left: 125px;
    margin-top: 48px;
  }
  
  .verify-text{
    float: left;
    display: block;
    width: 60px;
    height: 90px;
    border-bottom: 2px #999999 solid;
    color: rgb(51,51,51);
    text-align: center;
    font-size: 70px;
  }
  
  .confirm_button{
      color:rgb(31,219,155);
      font-size:30px;
      font-weight:bold;
      width: 160px;
      height: 60px;
      border-radius: 30px;
      border: rgb(31,219,155) solid 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 52px;
  }
  
  .delete_parent{
    margin-top: 20px;
    flex:1;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 20px;
  }
  
  .delete_parent .delete{
    width: 28px;
    height: 28px;
  }
  .newcodeinput{
    padding-top: 0.3rem;
    height: 1.2rem;
    font-size: 1rem;
    text-align: left;
    width: 38%;
    align-self: center;
    border-bottom: 1px solid gray;
    text-align: center;
  }